PORT=3002

DATABASE_URL=postgresql://username:password@localhost:5432/your_db
DEV_DATABASE_URL=postgresql://username:password@localhost:5432/your_db

JWT_SECRET=

SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

APP_NAME=Talksy
SENDER_EMAIL=