PORT=3002

DATABASE_URL=postgresql://username:password@localhost:5432/your_db
DEV_DATABASE_URL=postgresql://username:password@localhost:5432/your_db

JWT_SECRET=

BREVO_SMTP_KEY=

APP_NAME=Talksy
SENDER_EMAIL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=